/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

/*top画面*/
.top-h2{
  display: block;
  font-size: 25px;
  font-weight: bold;
  padding: 25px 35px;
}

.top-p{
  font-size: 13px;
  padding: 0px 60px 30px;
}

/*index画面*/
.index-h1{
  font-size: 26px;
  margin: 17px 10px;
  padding-left: 30px;
  font-weight: bold;
}

.index-h2{
  font-size: 19.5px;
  margin: 17px 10px;
  padding-left: 25px;
}

h4{
  display: block;
  font-size: 13px;
  line-height: 18px;
  padding-left: 30px;
}
td{
  padding: 1px 5px 7px;
}

th{
  font-size: 13px;
  padding-left: 50px;
}

.title-body{
  font-size: 13px;
  padding-left: 30px;
}

.link{
  font-size: 13px;
  padding-right: 0.5px;
}

.index-p{
  padding-left: 30px;
}

.index-p2{
  padding-left: 30px;
}

/*show画面*/
.show-h4{
  display: inline-block;
  font-size: 13px;
  padding-left: 65px;
}

.show-p{
  font-size: 13px;
  display: inline-block;
  padding-top: 30px;
}

.showedit{
  padding-left: 30px;
}

/*edit画面*/
.edit-h1{
 font-size: 26px;
 padding-top: 25px;
 padding-left: 30px;
}

.edit-p{
  display: inline-block;
  font-size: 13px;
}

.edit-box{
  padding-left: 30px;
}

.edit-update{
  padding-left: 30px;
}

.editshow{
  padding-left: 30px;
}